@backgroundColor: #001529;
@dividerColor: rgba(255, 255, 255, 0.5);
@textColor: rgba(255, 255, 255, 0.75);

.mobile-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: @backgroundColor;
  box-shadow: 0 4px 9px -3px rgba(102, 136, 153, 0.15);
  padding: 0 15px;
  height: 5vh;
  transition: top 0.3s;
  position: fixed;
  width: 100%;
  z-index: 1000;

  &-logo {
    img {
      height: 4vh;
      width: 4vh;
    }
  }
.mobile-navbar-name {
    align-items: center;
    display: flex;
    font-size: 24px;
    font-weight: 400;
    color: aliceblue;
    margin-right: auto;
    padding-left: 5vw;
  }
.hidden {
  display: none;
}


  .ant-btn.mobile-navbar-toggle-button {
    padding: 0 10px;
  }
}

.mobile-navbar-menu {
  .ant-dropdown-menu-item {
    font-weight: 500;
    color: @textColor;
  }

  .ant-dropdown-menu-item-divider {
    background: @dividerColor;
  }
}
